.carousel {
  display: flex;
  height: 500px;
  /* border: 1px solid red; */
  width: 100%;
  margin-top:30px;
  /* max-width: 800px; */
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.carousel_card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s ease-in-out;
}

.carousel_card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.card_image {
  width: 100%;
  object-fit: cover;
}

.card_overlay {
  position: absolute;
  top: 45%;
  left: 45%;
}

.card_title {
  color: white;
  font-size: 40px;
}

.carousel_arrow_left,
.carousel_arrow_right {
  position: absolute;
  top: 45%;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.486);
  color:white;
}

.carousel_arrow_left{
  left:0;
}

.carousel_arrow_right {
  right: 0;

}

.carousel_pagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination_dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.pagination_dot-active {
  background-color: red;
}

@media (max-width: 768px){
  .carousel{
    height:300px;
  }
}